#mainpage-columns {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* border: 1px solid black;
  margin: 10px 10px 10px 10px; */
  margin-top: 60px;
  margin-bottom: 50px;
  color: black;
}

#facts-container {
  margin-top: 20px;
  display: block;
}


#space-facts {
    font-size: 150px;
    text-align: center;
    height:150px;
    margin-top: 10px;
    line-height: 150px;
    color: #fcedd8;
    /* background: #d52e3f; */
     font-family: 'Niconne', cursive;
    font-weight: 200;
    text-shadow: 2px 2px 0px #eb452b, 
                4px 4px 0px #efa032, 
                6px 6px 0px #46b59b, 
                8px 8px 0px #017e7f, 
                10px 10px 0px #052939, 
                15px 15px 0px #c11a2b, 
                20px 20px 0px #c11a2b, 
                25px 25px 0px #c11a2b, 
                30px 30px 0px #c11a2b;
}

.loginh1 {
  /* color: blue; */
	color: #e91e63;
  margin-bottom: 5px;
	font-size: 75px;  
	font-weight: 75;
	text-shadow: 
		-0.0075em 0.0075em 0#e91e63, 94%,
		0.005em 0.005em 0 #e91e63, 60%,
		0.01em 0.01em 0 #e91e63, 62%, 
		0.015em 0.015em #e91e63, 64%, 
		0.02em 0.02em 0 #e91e63, 66%, 
		0.025em 0.025em 0 #e91e63, 68%,
		0.03em 0.03em 0 #e91e63, 70%,
		0.035em 0.035em 0 #e91e63, 72%;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 0px;
}

#mainpage {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  align-items: center;
}

.dabox {
  align-items: center;
  justify-content: center;
  /* width: 275px; */
  font-weight: bold;
  height: 300px;
  font-size: 20px;
  /* margin-bottom: 15px; */
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.boximg {
  width: 260px;
  height: 275px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#exploring {
  margin-top: 20px;
  width: 90%;
  border: 1px solid black;
}

.daboxtwo {
  align-items: center;
  justify-content: center;
  background-color: #effaf6;
  /* width: 275px; */
  border: 4px, solid, #505050;
  font-weight: bold;
  height: 300px;
  font-size: 20px;
  /* margin-bottom: 15px; */
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.box2containertest {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 4px, solid, #505050;
}

#picofday {
  width: 260px;
  height: 75%;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#earthpic {
  width: 260px;
  height: 75%;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
}
 
.popup-box-login {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
}

.box {
  position: relative;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.boxpod{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}


.box .picp {
  display: inline;
  text-align: right;
}

.picofdaymoreinfo {
  float: right;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.roverpic {
  width: 500px;
  height: 75%;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 30px;
}

.picofdayimg {
  vertical-align: middle;
  display: inline;
  margin-right: 20px;
}

.labels {
  display: inline;
  width: 140px;
  margin-right: 10px;
}

.afterlabel {
  display: inline;
}

.textitems {
  display: inline;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black; */
}

.picofearth {
  display: flex;
  justify-content: center;
  text-align: center;
}

.earthpic {
  height: 60%;
  width: 60%;
}

.signupBtn {
  float: right;
  width: 200px;
  border-radius: 5px;
  margin-right: 20px;
}

.loginButen {
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  width: 200px;
  border-radius: 5px;
}

.astButton {
  background-color: grey;
  /* text-align: center; */
  height: auto;
  width: auto;
  float: left;
  border-radius: 5px;
}

.astbtncontainer {
  margin-top: 5px;
  display: flex;
  /* justify-content: center; */
  text-align: center;
}

.login-btn {
  height: auto;
}

.columncontainer {
  margin-top: 500px;
}





.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 24em;
    min-width: 21em;
    height: 35px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    margin-bottom: 30px;
    align-items: center;
    transition: visibility 0.5s ease-out;
}

.controller {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer;
}


.selected-controller {
    transition: border 0.5s ease-out;
    border-bottom: 2px solid #70a1ff;
}

.box-container {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    min-width: 21em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px;
}

.inner-container {
    transition: visibility 0.2s ease-out;
}

.inner-container.show {
    visibility: visible;
}


.header {
    text-align: center;
    padding: 5px;
    margin-bottom: 17px;
    /* margin-left: 35px; */
    /* margin-right: 35px; */
    font-family: Ozxgen, sans-serif;
    font-size: 22px;
    border-bottom: 2px solid #70a1ff;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-input-group {
  display: flex;
  flex-direction: column ;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 40%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}


.login-label {
    font-family: Oxygen, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}


.login-input {
    height: 2.1em;
    border-radius: 3px;
    border: 1px solid #70a1ff;
    transition: border 0.4s ease-out;
    padding: 13px;
    font-family: sans-serif;
    font-size: 19px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
    border: 2px solid #70a1ff;
}

.login-input:focus {
    border: 2px solid #6565e7;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-input::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 16px; 
    color: rgba(46, 213, 116, 0.839);
    color: rgba(15, 15, 15, 0.4);
}

.login-btn {
    padding: 2px 30px;
    /* background-color: #417cef; */
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    color: black;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #417cef;
    color: white;
}

.danger-error {
    color: #e74c3c;
    font-size: 16px;
}

.password-state {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.pwd {
    height: 6px;
    flex: 1;
    visibility: hidden;
}

.pwd-weak {
    background-color: #e74c3c;
}

.pwd-medium {
    background-color: #3498db;
}

.pwd-strong {
    background-color: #2ecc71;
}

.show {
    visibility: visible;
}

button {
  background-color: #008CBA; /* Blue */
  border: none;
  /* border-radius: 3px;
  height: 30px;
  width: 60px; */
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.dabox {
  background-color: grey;
  /* align-items: center; */
  border: 1px solid rgb(0, 0, 0);
  margin: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-color: lightgrey;
  box-shadow: 5px 5px 5px darkgrey;
}

.daboxcontainer {
  margin-bottom: 8px;
  margin-top: 8px;
}

.rainbowh1 {
  animation: rainbow 8000ms;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {
    color: red;
  }

  15% {
    color: orange;
  }

  30% {
    color: yellow;
  }
  45% {
    color: green;
  }
  60% {
    color: blue;
  }
  75% {
    color: indigo;
  }
  90% {
    color: purple;
  }
}

/* .pod button {
  width: 75%;
  height: 100px;
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
    color:var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

button.big-button {
   padding: 1em 2em;
   border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
  transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);
  
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

} */

